name: Pull request validation

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    env:
      NUGET_KEY: ${{ secrets.NUGET_KEY }}
      CONFIGURATION: Release
      PACKAGES_DIRECTORY: ./packages
      NUGET_SOURCE: https://api.nuget.org/v3/index.json

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.x
          9.x

    - name: Restore dependencies
      run: dotnet restore ./src/OneBitSoftware.Utilities.OperationResult.sln

    - name: Build
      run: dotnet build ./src/OneBitSoftware.Utilities.OperationResult.sln --no-restore --configuration "${{ env.CONFIGURATION }}"

    - name: Test
      run: dotnet test ./src/OneBitSoftware.Utilities.OperationResult.sln --no-build --configuration "${{ env.CONFIGURATION }}" --verbosity normal